version: '3.8'

services:
  telegramploy:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: telegramploy
    restart: unless-stopped

    environment:
      - DATABASE_PATH=/app/data/telegramploy.db
      - S3_ENDPOINT=https://api.s3.v244.net
      - S3_REGION=us-east-1
      - S3_ACCESS_KEY_ID=pishro
      - S3_SECRET_ACCESS_KEY=ESLIsfcD2whxPlr9VpSZNj4zVlWb9jkY
      - S3_FORCE_PATH_STYLE=true
      - TELEGRAM_BOT_TOKEN=8291047806:AAH3_QpL6b9L-t6ggKfGCqgY8ZqjQ4DxWqk
      - TELEGRAM_CHAT_ID=38962624
      - NEXTAUTH_URL=https://backup.v244.net
      - NEXTAUTH_SECRET=0F0CC673aCyrZVA/DHfM3qpFGkGtcNsclP0DLi8gKV8=
      - POLL_INTERVAL_MS=60000
      - MAX_FILE_SIZE_MB=2000
      - CHUNK_SIZE_MB=50
      - NODE_ENV=production
      - PORT=3000
      - HOSTNAME=0.0.0.0

    # Persistent volume for SQLite database
    volumes:
      - telegramploy-data:/app/data

    ports:
      - "3000"

volumes:
  telegramploy-data:
    driver: local
